# Data Science Tools and Ecosystem

###### In this notebook, Data Science Tools and Ecosystem are summarized.

# Some of the popular languages that Data Scientists use are :

1. Python
2. R
3. Julia

# Some of the commonly used libraries used by Data Scientists include :

1. ggplot2
2. Pandas
3. Numpy

# Objectives :

- List popular languages for Data Science
- Use the math libraries for Data Science
- Use the pandas libraries for table in Data Science
- Use the markdown cell and code cell
- List the commonly used libraries in Data Science

In [4]:
# Data Science Tools

import pandas as pd

tools = {
"Data Science Tools" : ["Python", "R", "Jupyter Notebook"]
}

table = pd.DataFrame(tools)

table_convert = table.to_markdown(index=False)

print(table_convert)

| Data Science Tools   |
|:---------------------|
| Python               |
| R                    |
| Jupyter Notebook     |

In [7]:
### Below are a few examples of evaluating arithmetic expressions in Python

import math

example_1 = 6*3
example_2 = 8-2

print("example 1 : ", example_1)

print("example 2 : ", example_2)

example 1 :  18
example 2 :  6

In [8]:
# This a simple arithmetic expression to mutiply then add integers

import math

(3*4)+5

17

In [10]:
# This will convert 200 minutes to hours by diving by 60

import math

minutes = 200

hour = 200/60

print(minutes," minutes = ",hour, "hour")

200  minutes =  3.3333333333333335 hour

## Author : TAMINY Niassan dit Auriol Fr√©jus